body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  background-color: white;
  margin: 0;
  padding: 0;
  color: #333;
  height: 100vh;
  font-size: 2rem;
}

main {
  display: flex;
  justify-content: center;
  flex: 1;
  width: 100%;
  padding: 0 20px 20px 20px;
  padding-bottom: 10px;
  background-color: #252526;
  color: #e6e6e6;
}

h1 {
  margin: 0;
}

li {
  list-style-type: none;
}

h3 {
  font-size: 2rem;
  padding: 20px 20px 0 0;
  margin: 0;
}

p {
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: #e6e6e6;
}

header {
  background-color: #333;
  color: #e6e6e6;
  padding: 10px;
  text-align: center;
  width: 100%;
  height: max-content;
  top: 0;
  z-index: 1000;
  margin-bottom: 0;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 1rem;
}
header nav a {
  color: #e6e6e6;
  font-size: 1.5rem;
  text-decoration: none;
  margin: 0 10px;
  padding: 0;
}
header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  list-style: none;
  padding: 0;
}
header nav ul li {
  font-size: 1.5rem;
  margin: 0 10px;
}
header nav ul a {
  color: #e6e6e6;
  text-decoration: none;
}
header nav #userOption {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
header .avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}
header .avatar-dropdown {
  position: relative;
  display: inline-block;
  margin-left: 1rem;
}
header .dropdown-content {
  display: none;
  position: absolute;
  background-color: #431818;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 0;
}
header .dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
header .dropdown-content a:hover {
  background-color: #5e1717;
}

footer {
  text-align: center;
  padding: 10px;
  padding-bottom: 2rem;
  background-color: #333;
  color: #e6e6e6;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 3.5rem;
}

button {
  background-color: #333;
  color: #e6e6e6;
  border: none;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}
button:hover {
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
}

.controls button {
  cursor: pointer;
  border: 0.01rem solid rgba(255, 255, 255, 0.2);
  border-radius: 15%;
  background-color: #2d2d30;
  color: #e6e6e6;
  padding: 0.5rem;
  font-size: 1.4rem;
  margin-right: 0.5rem;
}

.vote-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 0.01rem solid rgba(255, 255, 255, 0.2);
  border-radius: 15%;
  background-color: #2d2d30;
  color: #333;
  padding: 0.5rem;
  font-size: 1.4rem;
  margin-right: 0.5rem;
  height: 1.7rem;
  width: max-content;
}
.vote-controls button {
  border: 0;
  margin: 0 1rem;
  padding: 0;
  text-decoration: none;
}
.vote-controls p {
  color: #e6e6e6;
}

.voted {
  text-shadow: 2px 2px 0px black;
}

.card {
  padding: 20px;
  background-color: #2d2d30;
  margin: 1rem;
  border-radius: 10px;
  border: 1px solid black;
  height: max-content;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

#completePostCard {
  margin: 0 2rem;
  margin-top: 2rem;
  background-color: #2d2d30;
  padding: 0 2rem;
  border-radius: 10px;
}

.controls {
  display: flex;
  justify-content: space-between;
}
.controls .general-controls {
  display: flex;
  width: 50%;
}
.controls .logged-user-controls {
  display: flex;
  width: max-content;
}
.controls .logged-user-controls button {
  margin-right: 0.6rem;
}

.comment-card {
  padding: 10px;
  padding-left: 2rem;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin-bottom: 0.5rem;
}

.reglog {
  width: 100%;
}

.replies {
  margin-left: 3rem;
}

.replies::before {
  content: "";
  width: 60px;
  height: 70px;
  border-left: 2px solid #ef5da8;
  border-bottom: 2px solid #ef5da8;
  border-bottom-left-radius: 15px;
  margin-right: 2rem;
  display: inline;
}

#login, #register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 100px auto;
  padding: 20px;
  height: min-content;
  z-index: 1;
  width: 60%;
}
#login input, #login label, #register input, #register label {
  width: 95%;
  font-size: 1.5rem;
  padding: 10px;
  margin: 1rem;
  background-color: #2d2d30;
  color: #e6e6e6;
}

#commentForm {
  margin-bottom: 1rem;
}
#commentForm input {
  margin-top: 2rem;
  padding: 15px 20px;
  width: 90%;
  font-size: 1.5rem;
  color: #e6e6e6;
  background-color: #2d2d30;
  border: 0.01rem solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

button {
  font-size: 2rem;
  color: #e6e6e6;
  border-radius: 10px;
  padding: 10px;
}
button:hover {
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
}

.textarea-container {
  position: relative;
  width: 100%;
  max-width: 100%;
}

#commentUpdateInput {
  margin-top: 2rem;
  padding: 10px 20px;
  padding-bottom: 50px;
  font-size: 1.5rem;
  color: #e6e6e6;
  background-color: #2d2d30;
  border: 1px solid #b09f9f;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  min-height: 50px;
  max-height: 150px;
  overflow-y: hidden;
  resize: none;
  width: 100%;
  box-sizing: border-box;
}

.button-container {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.cancel-button {
  margin-left: 5px;
}

.blog-form-container {
  width: 1600px;
  margin-top: 6rem;
  padding: 20px;
  background-color: #2d2d30;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  height: max-content;
}
.blog-form-container h2 {
  text-align: center;
  color: #e6e6e6;
  font-family: Arial, sans-serif;
  margin-bottom: 20px;
  margin-bottom: 1rem;
}
.blog-form-container form {
  display: flex;
  flex-direction: column;
  margin: 1rem 1rem;
}
.blog-form-container .form-group {
  margin-bottom: 30px;
  width: 97%;
}
.blog-form-container .form-group label {
  display: block;
  font-weight: bold;
  color: #e6e6e6;
  margin-bottom: 1.5rem;
  font-family: Arial, sans-serif;
}
.blog-form-container .form-group input[type=text],
.blog-form-container .form-group textarea {
  width: 100%;
  padding: 20px;
  border: 1px solid white;
  border-radius: 8px;
  font-size: 1.5rem;
  font-family: Arial, sans-serif;
  transition: border-color 0.3s ease;
  background-color: #2d2d30;
  color: #e6e6e6;
}
.blog-form-container .form-group input[type=text]:focus,
.blog-form-container .form-group textarea:focus {
  outline: none;
  border-color: #333;
  box-shadow: 0 0 5px rgba(51, 51, 51, 0.3);
}
.blog-form-container .form-group textarea {
  resize: vertical;
  min-height: 150px;
}
.blog-form-container .submit-btn {
  background-color: #333;
  color: #fff;
  padding: 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.5rem;
  font-family: Arial, sans-serif;
  transition: background-color 0.3s ease;
}
.blog-form-container .submit-btn:hover {
  background-color: rgb(25.5, 25.5, 25.5);
}

.author-info-card {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #2d2d30;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: max-content;
}
.author-info-card p {
  font-size: 1rem;
}
.author-info-card time {
  font-size: 1rem;
}

.avatar {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  margin-right: 10px;
}

.user-info {
  display: flex;
  flex-direction: column;
}

.username {
  font-size: 1.2rem;
  font-weight: bold;
}

/*# sourceMappingURL=main.css.map */
