body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  color: #333;
  height: 100vh;
  font-size: 1rem;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

button {
  background-color: #333;
}

nav ul {
  display: flex;
  margin: 20px 20px;
  align-items: center;
  justify-content: flex-start;
  list-style: none;
  padding: 0;
}

nav ul li {
  font-size: 1.5rem;
  margin: 0 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

h1 {
  margin: 0;
}

.card {
  padding: 20px;
  background-color: #fff;
  margin: 20px;
  border-radius: 8px;
  height: max-content;
}

article {
  margin-bottom: 20px;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: #fff;
  position: fixed;
  bottom: 0;
  width: 100%;
}

#login {
  margin: 2rem 2rem;
  font-size: 2rem;
}

#login input {
  font-size: 2rem;
}

#login button {
  font-size: 2rem;
  color: #fff;
  border-radius: 10px;
  padding: 0.2rem;
}

#register {
  display: flex;
  flex-direction: column;
}

.reglog {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  margin: 100px auto;
  padding: 20px;
  height: min-content;
  z-index: 1;
}

#login input{
  margin: 1.5rem 1rem;
}
