@use 'variables';
@use "mixins";

button {
  background-color: variables.$button-bg-color;
  color: variables.$button-text-color;
  border: none;
  padding: variables.$padding-base;
  border-radius: variables.$border-radius;
  cursor: pointer;

  &:hover {
    @include mixins.box-shadow(3px 3px 8px rgba(0, 0, 0, 0.2));
  }
}

.controls button {
  cursor: pointer;
  border: variables.$button-standard-border;
  border-radius: variables.$border-radius-button;
  background-color: #2d2d30;
  color: variables.$secondary-color;
  padding: variables.$padding-base-button;
  font-size: 1.4rem;
  margin-right: 0.5rem;
}

.vote-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: variables.$button-standard-border;
  border-radius: variables.$border-radius-button;
  background-color: #2d2d30;
  color: variables.$primary-color;
  padding: variables.$padding-base-button;
  font-size: 1.4rem;
  margin-right: 0.5rem;
  height: 1.7rem;
  width: max-content;

  button {
    border: 0;
    margin: 0 1rem;
    padding: 0;
    text-decoration: none;
  }

  p {
    color: variables.$secondary-color;
  }
}

.voted {
  text-shadow: 2px 2px 0px black;
}
