@use 'variables';

.card {
  padding: variables.$padding-large;
  background-color: #2d2d30;
  margin: variables.$margin-base;
  border-radius: variables.$border-radius;
  border: 1px solid black;
  height: max-content;
  box-shadow: variables.$shadow;
}

#completePostCard {
  margin: 0 2rem;
  margin-top: 2rem;
  background-color: #2d2d30;
  padding: 0 2rem;
  border-radius: variables.$border-radius;
}

.controls {
  display: flex;
  justify-content: space-between;

  .general-controls {
    display: flex;
    width: 50%;
  }

  .logged-user-controls {
    display: flex;
    width: max-content;
    button {
      margin-right: 0.6rem;
    }
  }
}

.comment-card {
  padding: variables.$padding-base;
  padding-left: 2rem;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin-bottom: 0.5rem;
}

.reglog {
  width: 100%;
}

.replies {
  margin-left: 3rem;
}

.replies::before{
  content: "";
  width: 60px;
  height: 70px;
  border-left: 2px solid #ef5da8;
  border-bottom: 2px solid #ef5da8;
  border-bottom-left-radius: 15px;
  margin-right: 2rem;
  display: inline;
}
