@use 'variables';
@use "mixins";

// user-reg-log

#login, #register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 100px auto;
  padding: variables.$padding-large;
  height: min-content;
  z-index: 1;
  width: 60%;

  input, label {
    width: 95%;
    font-size: variables.$font-size-medium;
    padding: variables.$padding-base;
    margin: variables.$margin-base;
    background-color: #2d2d30;
    color: variables.$secondary-color;
  }
}

// comments

  #commentForm {
    margin-bottom: variables.$margin-base;

    input{
      margin-top: 2rem;
      padding: 15px 20px;
      width: 90%;
      font-size: 1.5rem;
      color: variables.$secondary-color;
      background-color: #2d2d30;
      border: variables.$button-standard-border;
      border-radius: 10px;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
      cursor: pointer;
      transition: box-shadow 0.3s ease;
    }
  }

  button {
    font-size: variables.$font-size-large;
    color: variables.$button-text-color;
    border-radius: variables.$border-radius;
    padding: variables.$padding-base;

    &:hover {
      @include mixins.box-shadow(3px 3px 8px rgba(0, 0, 0, 0.2));
    }
  }
  .textarea-container {
    position: relative;
    width: 100%;
    max-width: 100%;
  }

#commentUpdateInput {
    margin-top: 2rem;
    padding: 10px 20px;
    padding-bottom: 50px;
    font-size: 1.5rem;
    color: variables.$secondary-color;
    background-color: #2d2d30;
    border: 1px solid #b09f9f;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    font-family: variables.$font-family;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
    min-height: 50px;
    max-height: 150px;
    overflow-y: hidden;
    resize: none;
    width: 100%;
    box-sizing: border-box;
}

.button-container {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.cancel-button {
    margin-left: 5px;
}

// posts

.blog-form-container {
  width: 1600px;
  margin-top: 6rem;
  padding: 20px;
  background-color: #2d2d30;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  height: max-content;

  h2 {
    text-align: center;
    color: variables.$secondary-color;
    font-family: variables.$font-family;
    margin-bottom: 20px;
    margin-bottom: 1rem;
  }

  form {
    display: flex;
    flex-direction: column;
    margin: 1rem 1rem;
  }

  .form-group {
    margin-bottom: 30px;
    width: 97%;

    label {
      display: block;
      font-weight: bold;
      color: variables.$secondary-color;
      margin-bottom: 1.5rem;
      font-family: variables.$font-family;
    }

    input[type="text"],
    textarea {
      width: 100%;
      padding: 20px;
      border: 1px solid lighten(variables.$secondary-color, 20%);
      border-radius: 8px;
      font-size: 1.5rem;
      font-family: variables.$font-family;
      transition: border-color 0.3s ease;
      background-color: #2d2d30;
      color: variables.$secondary-color;


      &:focus {
        outline: none;
        border-color: variables.$primary-color;
        box-shadow: 0 0 5px rgba(variables.$primary-color, 0.3);
      }
    }

    textarea {
      resize: vertical;
      min-height: 150px;
    }
  }

  .submit-btn {
    background-color: variables.$primary-color;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.5rem;
    font-family: variables.$font-family;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: darken(variables.$primary-color, 10%);
    }
  }
}
