$primary-color: #333;
$secondary-color: #e6e6e6;
$background-color: white;
$text-color: #333;
$font-family: Arial, sans-serif;
$font-size-base: 1rem;
$font-size-large: 2rem;
$font-size-medium: 1.5rem;
$border-radius: 10px;
$border-radius-button: 15%;
$margin-base: 1rem;
$padding-base: 10px;
$padding-large: 20px;
$padding-base-button: 0.5rem;
$shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
$button-bg-color: $primary-color;
$button-text-color: $secondary-color;
$button-standard-border: 0.01rem solid rgba(255, 255, 255, 0.2);
$footer-height: 3.5rem;
