</main>
<footer>
  <p>RockRoute &copy; 2024. All Rights Reserved.</p>
</footer>
<script src="/js/scripts/avatarDropdown.js"></script>
<script src="/js/scripts/renderComment.js"></script>
<script src="/js/scripts/toggleUpdateFrom.js"></script>
<script src="/js/scripts/focusNewComment.js"></script>
<script src="/js/scripts/toggleCommentForm.js"></script>
</body>
</html>
